In [5]:
# 17 list comprehension problems in python
# try with series as well
import numpy as np
import pandas as pd

fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
s_fruits = pd.Series(fruits)
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
s_numbers = pd.Series(numbers)

In [2]:
# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)
numbers_plus_one

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 18, 20, 24, 257, -7, -3, -1, 6, -8]

In [3]:
# Example of using a list comprehension to create a list of
# the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]
numbers_plus_one

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 18, 20, 24, 257, -7, -3, -1, 6, -8]

In [4]:
# Example code that creates a list of all of the list of
# strings in fruits and uppercase every string
output = []
for fruit in fruits:
    output.append(fruit.upper())
output

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [6]:
# Exercise 1 - rewrite the above example code using
# list comprehension syntax. Make a variable named
# uppercased_fruits to hold the output of the list
# comprehension. Output should be ['MANGO', 'KIWI', etc...]
uppercased_fruits = [fruit.upper() for fruit in fruits]
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [6]:
# series version
upper_fruits = s_fruits.str.upper()
upper_fruits

0              MANGO
1               KIWI
2         STRAWBERRY
3              GUAVA
4          PINEAPPLE
5    MANDARIN ORANGE
dtype: object

In [7]:
# Exercise 2 - create a variable named capitalized_fruits
# and use list comprehension syntax to produce output like
# ['Mango', 'Kiwi', 'Strawberry', etc...]
capitalized_fruits = [fruit.title() for fruit in fruits]
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin Orange']

In [9]:
# series version
cap_fruits = s_fruits.str.title()
cap_fruits

0              Mango
1               Kiwi
2         Strawberry
3              Guava
4          Pineapple
5    Mandarin Orange
dtype: object

In [11]:
# Exercise 3 - Use a list comprehension to make a variable
# named fruits_with_more_than_two_vowels. Hint: You'll
# need a way to check if something is a vowel.
def vowels_in(n):
    vowels = 0
    for i in n:
        if i in ['a','e','i','o','u']:
            vowels += 1
    return vowels

In [12]:
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if vowels_in(fruit) > 2]
fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

In [14]:
# series version
s_fruits[s_fruits.apply(vowels_in)>2]

3              guava
4          pineapple
5    mandarin orange
dtype: object

In [10]:
# Exercise 4 - make a variable named
# fruits_with_only_two_vowels. The result should be
# ['mango', 'kiwi', 'strawberry']
fruits_with_only_two_vowels = [fruit for fruit in fruits if vowels_in(fruit)==2]
fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

In [15]:
# series version
s_fruits[s_fruits.apply(vowels_in)==2]

0         mango
1          kiwi
2    strawberry
dtype: object

In [11]:
# Exercise 5 - make a list that contains each fruit
# with more than 5 characters
fruits_with_more_than_five_char = [f for f in fruits if len(f)>5]
fruits_with_more_than_five_char

['strawberry', 'pineapple', 'mandarin orange']

In [21]:
# series version
s_fruits[s_fruits.str.len()>5]

2         strawberry
4          pineapple
5    mandarin orange
dtype: object

In [12]:
# Exercise 6 - make a list that contains each fruit with
# exactly 5 characters
fruits_with_exactly_five_char = [f for f in fruits if len(f)==5]
fruits_with_exactly_five_char

['mango', 'guava']

In [22]:
# series version
s_fruits[s_fruits.str.len()==5]

0    mango
3    guava
dtype: object

In [13]:
# Exercise 7 - Make a list that contains fruits that have
# less than 5 characters
fruits_with_less_than_five_char = [f for f in fruits if len(f)<5]
fruits_with_less_than_five_char

['kiwi']

In [23]:
# series version
s_fruits[s_fruits.str.len()<5]

1    kiwi
dtype: object

In [14]:
# Exercise 8 - Make a list containing the number of
# characters in each fruit. Output would be [5, 4, 10, etc... ]
fruits_length = [len(f) for f in fruits]
fruits_length

[5, 4, 10, 5, 9, 15]

In [25]:
# series version
df_fruits = pd.DataFrame(s_fruits)
df_fruits['length'] = s_fruits.str.len()
df_fruits

                 0  length
0            mango       5
1             kiwi       4
2       strawberry      10
3            guava       5
4        pineapple       9
5  mandarin orange      15

In [28]:
# Exercise 9 - Make a variable named fruits_with_letter_a
# that contains a list of only the fruits that contain
# the letter "a"
def a_in(n):
    a_in_fruits = 0
    for i in n:
        if i == 'a':
            a_in_fruits += 1
    return a_in_fruits
fruits_with_letter_a = [f for f in fruits if a_in(f)>0]
fruits_with_letter_a

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [33]:
# series version
s_fruits[s_fruits.str.contains('a')]

0              mango
2         strawberry
3              guava
4          pineapple
5    mandarin orange
dtype: object

In [16]:
# Exercise 10 - Make a variable named even_numbers that
# holds only the even numbers 
even_numbers = [n for n in numbers if n%2==0]
even_numbers

[2, 4, 6, 8, 10, 256, -8, -4, -2]

In [34]:
# series version
s_numbers[s_numbers%2==0]

0       2
2       4
4       6
6       8
8      10
14    256
15     -8
16     -4
17     -2
dtype: int64

In [17]:
# Exercise 11 - Make a variable named odd_numbers that
# holds only the odd numbers
odd_numbers = [n for n in numbers if n%2!=0]
odd_numbers

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

In [35]:
# series version
s_numbers[s_numbers%2!=0]

1      3
3      5
5      7
7      9
9     11
10    13
11    17
12    19
13    23
18     5
19    -9
dtype: int64

In [18]:
# Exercise 12 - Make a variable named positive_numbers
# that holds only the positive numbers
positive_numbers = [n for n in numbers if n>0]
positive_numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [36]:
# series version
s_numbers[s_numbers>0]

0       2
1       3
2       4
3       5
4       6
5       7
6       8
7       9
8      10
9      11
10     13
11     17
12     19
13     23
14    256
18      5
dtype: int64

In [19]:
# Exercise 13 - Make a variable named negative_numbers
# that holds only the negative numbers
negative_numbers = [n for n in numbers if n<0]
negative_numbers

[-8, -4, -2, -9]

In [37]:
# series version
s_numbers[s_numbers<0]

15   -8
16   -4
17   -2
19   -9
dtype: int64

In [21]:
# Exercise 14 - use a list comprehension w/ a conditional
# in order to produce a list of numbers with 2 or more numerals
two_numerals = [n for n in numbers if len(str(abs(n)))>1]
two_numerals

[10, 11, 13, 17, 19, 23, 256]

In [38]:
# series version
s_numbers[s_numbers.abs().astype(str).str.len()>1]

8      10
9      11
10     13
11     17
12     19
13     23
14    256
dtype: int64

In [22]:
# Exercise 15 - Make a variable named numbers_squared that
# contains the numbers list with each element squared.
# Output is [4, 9, 16, etc...]
numbers_squared = [n**2 for n in numbers]
numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

In [39]:
# series version
s_numbers**2

0         4
1         9
2        16
3        25
4        36
5        49
6        64
7        81
8       100
9       121
10      169
11      289
12      361
13      529
14    65536
15       64
16       16
17        4
18       25
19       81
dtype: int64

In [24]:
# Exercise 16 - Make a variable named odd_negative_numbers
# that contains only the numbers that are both odd and negative.
odd_negative_numbers = [n for n in numbers if n<0 and n%2!=0]
odd_negative_numbers

[-9]

In [40]:
# series version
s_numbers[(s_numbers<0)&(s_numbers%2!=0)]

19   -9
dtype: int64

In [25]:
# Exercise 17 - Make a variable named numbers_plus_5. In it,
# return a list containing each number plus five. 
numbers_plus_5 = [n+5 for n in numbers]
numbers_plus_5

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

In [41]:
# series version
s_numbers+5

0       7
1       8
2       9
3      10
4      11
5      12
6      13
7      14
8      15
9      16
10     18
11     22
12     24
13     28
14    261
15     -3
16      1
17      3
18     10
19     -4
dtype: int64

In [42]:
# BONUS Make a variable named "primes" that is a list
# containing the prime numbers in the numbers list.
# *Hint* you may want to make or find a helper function
# that determines if a given number is prime or not.
def primer(n):
    if n>1:
        for i in range(2,int(n/2)+1):
            if n%i==0:
                return False
        else:
            return True
    else:
        return False
primes = [n for n in numbers if primer(n)==True]
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 5]

In [44]:
# series version
s_numbers[s_numbers.apply(primer)]

0      2
1      3
3      5
5      7
9     11
10    13
11    17
12    19
13    23
18     5
dtype: int64